html,body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a{
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    height: 10vh;
    width: 100%;
    z-index: 9999;
    transition: ease-in-out .4s;
}

.h-after{
    display: flex;
    background-image: -moz-radial-gradient(circle, #c5c5c5 0%, #efefef 100%);
}

header a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s ease-in;
    padding-right: 20px;
}

header a:hover,header h2:hover{
    color: cornflowerblue;
    text-decoration: underline;
}

.navbar{
    transition: ease-in-out 0.3s;
}

.navbar a{
    text-decoration: none;
    color: black;
    margin-left:10px;
}

header img{
    height: 150px;
    margin-left: -30px;
    transition: 0.3s ease-in-out;
}

header img:hover{
    transform: scale(1.05);
}

.list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero h1{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 1s;
}

.hero h2{
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hero-content{
    background-size: cover;
    background: url(../images/hero-bg.jpg) no-repeat center;
    text-align: center;
    align-items: center;
    display: flex;
    height: 100vh;
    padding-right: 20px;
}

.about{
    padding-top: 80px;
    text-align: center;
    align-items: center;
    height: fit-content;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow: hidden;
}

.about-content{
    gap: 50px;
    padding: 50px;
    display: flex;

}

.about h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.about p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.carousel{
    width: 700px;
    height: fit-content;
    padding-top: 20px;
}

.carousel-inner{
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.sectors{
    padding-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: center;
    height: 100vh;
}

.sectors h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.sector-content{
    align-items: center;
    text-align: right;
    justify-content: right;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.sector-cards{
    gap: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    transition: ease-in-out 0.2s;
}

.card:hover{
    transform: translateY(-10px);
}

.contact{
    padding-top: 80px;
    padding-left: 80px;
    text-align: center;
    align-items: center;
    height: fit-content;
    gap: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
}

.contact h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.contact p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.contact a{
    text-decoration: none;
}

.contact-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.contact-card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}

.card-h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.contact-card p{
    text-decoration: none;
    font-size: 12px;
}

footer{
    text-align: center;
    align-items: center;
    align-content: center;
    height: 20vh;
    color: aliceblue;
    background-color: black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.button{
    border: none;
    color: black;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
